In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append('/Users/jacobyeung/anaconda3/envs/metaearth/lib/python3.8/site-packages')

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import shapely
import subprocess
from metaearth.snotel import *
from metloom.pointdata.snotel_client import SeriesSnotelClient, MetaDataSnotelClient
from metloom.pointdata.snotel import SnotelPointData
from datetime import datetime
import geopandas as gpd
from metloom.pointdata import CDECPointData
from metloom.variables import CdecStationVariables

In [4]:
snotel_summary = pd.read_csv('../../snotel_data/SNOTEL_summary.csv', delimiter=',', 
encoding_errors="ignore", lineterminator='\n')
snotel_summary.columns = [col.rstrip(' ') for col in snotel_summary.columns]

In [6]:
snotel_summary.columns

Index(['Num', 'SNOTEL ID', 'SNOTEL State', 'SNOTEL Name', 'SNOTEL Elev (ft)',
       'SNOTEL Lat ()', 'SNOTEL Lon ()', 'Data Starting Date',
       'Data Ending Date', 'Unnamed: 9', 'Unnamed: 10', '\r'],
      dtype='object')

In [7]:
snotel_summary.head()

,Num,SNOTEL ID,SNOTEL State,SNOTEL Name,SNOTEL Elev (ft),SNOTEL Lat (),SNOTEL Lon (),Data Starting Date,Data Ending Date,Unnamed: 9,Unnamed: 10,\r
0,1,1000,OR,Annie Springs,6010,42.87,-122.17,9/15/2000,9/30/2018,NaN,NaN,\r
1,2,1001,AK,Long Lake,850,58.19,-133.83,10/1/1999,9/30/2018,NaN,NaN,\r
2,3,1003,AK,Mcneil Canyon,1320,59.74,-151.25,10/1/1986,9/30/2018,NaN,NaN,\r
3,4,1005,CO,Ute Creek,10650,37.61,-105.37,8/15/2000,9/30/2018,NaN,NaN,\r
4,5,1006,NV,Lewis Peak,7400,40.36,-116.86,8/23/2000,9/30/2018,NaN,NaN,\r

In [8]:
def get_triplet(snotel_summary, id):
    curr_snotel = snotel_summary[snotel_summary['SNOTEL ID']==id]
    id = curr_snotel['SNOTEL ID'].values[0]
    state = curr_snotel['SNOTEL State'].values[0]
    triplet = f'{id}:{state}:SNTL'
    return triplet

In [9]:
rawah_triplet = get_triplet(snotel_summary, 1032)

In [10]:
rawah_triplet

'1032:CO:SNTL'

# Area of interest

In [11]:
aoi_file = '../config/aoi/aso-2013-2019-regions.json'
region = gpd.read_file(aoi_file)

In [12]:
region

                                            geometry
0  MULTIPOLYGON (((-119.09765 38.00096, -119.0976...

In [12]:
# snotel_point = SnotelPointData("713:CO:SNTL", "MyStation")
# vars = [snotel_point.ALLOWED_VARIABLES.SWE]
# points = SnotelPointData.points_from_geometry(region, vars)
# df = points.to_dataframe()
# print(df)

In [13]:
# vrs = [
#     CdecStationVariables.SWE,
#     CdecStationVariables.SNOWDEPTH
# ]
# points = CDECPointData.points_from_geometry(region, vrs, snow_courses=True)
# df = points.to_dataframe()
# print(df)

In [14]:
# snotel_point = SnotelPointData("713:CO:SNTL", "MyStation")
# vars = [snotel_point.ALLOWED_VARIABLES.SWE]
# temp_points = SnotelPointData.points_from_geometry(region, vars)
# temp = temp_points.to_dataframe()
# print(temp)

In [15]:
region.unary_union

# SnotelProvider

In [15]:
# This call works.
snow = SnotelProvider()
data = snow.region_to_items(region, variables=['WTEQ'], datetime='1980-1-1/2001-2-2', collection=None, max_items=None)

{'maxLatitude': 48.090858320977894, 'minLatitude': 36.14965131371051, 'maxLongitude': -105.77091614487038, 'minLongitude': -124.1847180025171, 'networkCds': ['SNTL', 'USGS', 'BOR', 'COOP'], 'elementCds': 'WTEQ', 'logicalAnd': 'true'}
variable SensorDescription(code='WTEQ', name='SWE', description=None, accumulated=False)
698
{'stationTriplet': '405:WY:SNTL'}
{'stationTriplet': '550:ID:SNTL'}
{'stationTriplet': '355:MT:SNTL'}
{'stationTriplet': '1015:WY:SNTL'}
{'stationTriplet': '1188:CO:SNTL'}
{'stationTriplet': '809:CA:SNTL'}
{'stationTriplet': '521:UT:SNTL'}
{'stationTriplet': '328:MT:SNTL'}
{'stationTriplet': '302:OR:SNTL'}
{'stationTriplet': '327:CO:SNTL'}
{'stationTriplet': '434:OR:SNTL'}
{'stationTriplet': '347:MT:SNTL'}
{'stationTriplet': '699:WA:SNTL'}
{'stationTriplet': '789:OR:SNTL'}
{'stationTriplet': '332:UT:SNTL'}
{'stationTriplet': '449:WY:SNTL'}
{'stationTriplet': '325:WY:SNTL'}
{'stationTriplet': '771:CA:SNTL'}
{'stationTriplet': '804:WA:SNTL'}
{'stationTriplet': '2029:ID:SNTL'}
{'stationTriplet': '1308:UT:SNTL'}
{'stationTriplet': '671:OR:SNTL'}
{'stationTriplet': '358:WY:SNTL'}
{'stationTriplet': '610:ID:SNTL'}
{'stationTriplet': '865:UT:SNTL'}
{'stationTriplet': '1164:UT:SNTL'}
{'stationTriplet': '1046:WY:SNTL'}
{'stationTriplet': '448:MT:SNTL'}
{'stationTriplet': '476:NV:SNTL'}
{'stationTriplet': '939:CO:SNTL'}
{'stationTriplet': '1249:UT:SNTL'}
{'stationTriplet': '620:ID:SNTL'}
{'stationTriplet': '1138:NM:SNTL'}
{'stationTriplet': '673:WY:SNTL'}
{'stationTriplet': '629:CO:SNTL'}
{'stationTriplet': '315:MT:SNTL'}
{'stationTriplet': '688:CO:SNTL'}
{'stationTriplet': '1014:CO:SNTL'}
{'stationTriplet': '876:MT:SNTL'}
{'stationTriplet': '426:CO:SNTL'}
{'stationTriplet': '555:WY:SNTL'}
{'stationTriplet': '786:WY:SNTL'}
{'stationTriplet': '821:OR:SNTL'}
{'stationTriplet': '702:WA:SNTL'}
{'stationTriplet': '517:UT:SNTL'}
{'stationTriplet': '523:OR:SNTL'}
{'stationTriplet': '1124:CO:SNTL'}
{'stationTriplet': '714:UT:SNTL'}
{'stationTriplet': '471:ID:SNTL'}
{'stationTriplet': '605:OR:SNTL'}
{'stationTriplet': '357:OR:SNTL'}
0     1980-10-01 00:00:00
1     1979-10-01 00:00:00
2     1976-10-01 00:00:00
3     2001-10-01 00:00:00
4     2011-07-28 00:00:00
5     1980-10-01 00:00:00
6     1985-09-19 00:00:00
7     1966-10-01 00:00:00
8     1980-10-01 00:00:00
9     1979-10-01 00:00:00
10    1978-10-01 00:00:00
11    1967-10-01 00:00:00
12    1979-10-01 00:00:00
13    1979-10-01 00:00:00
14    1978-10-01 00:00:00
15    1979-10-01 00:00:00
16    1979-10-01 00:00:00
17    1978-10-01 00:00:00
18    1978-10-01 00:00:00
19    1999-08-31 00:00:00
20    2022-08-25 00:00:00
21    1979-10-01 00:00:00
22    1978-10-01 00:00:00
23    1979-10-01 00:00:00
24    1978-10-01 00:00:00
25    2020-08-26 00:00:00
26    1999-06-13 00:00:00
27    1971-01-01 00:00:00
28    1980-10-01 00:00:00
29    1998-08-10 00:00:00
30    2013-10-23 00:00:00
31    1979-10-01 00:00:00
32    2009-05-12 00:00:00
33    1962-09-01 00:00:00
34    1978-10-01 00:00:00
35    1976-10-01 00:00:00
36    1979-10-01 00:00:00
37    2001-09-19 00:00:00
38    1978-10-01 00:00:00
39    1985-10-01 00:00:00
40    1984-10-01 00:00:00
41    1983-10-01 00:00:00
42    1978-10-01 00:00:00
43    1980-10-01 00:00:00
44    1978-10-01 00:00:00
45    1978-10-01 00:00:00
46    2008-10-01 00:00:00
47    1978-10-01 00:00:00
48    1979-10-01 00:00:00
49    1978-10-01 00:00:00
50    1978-10-01 00:00:00
Name: beginDate, dtype: object
   stationTriplet actonId            beginDate       countyName elevation  \
1     550:ID:SNTL  15E09S  1979-10-01 00:00:00            Boise   7070.00
2     355:MT:SNTL  13D10S  1976-10-01 00:00:00       Beaverhead   7600.00
7     328:MT:SNTL  11E38S  1966-10-01 00:00:00         Gallatin   7850.00
9     327:CO:SNTL  07M32S  1979-10-01 00:00:00         San Juan  11600.00
10    434:OR:SNTL  22E08S  1978-10-01 00:00:00             Linn   3690.00
11    347:MT:SNTL  11E35S  1967-10-01 00:00:00         Gallatin   8170.00
12    699:WA:SNTL  20B24S  1979-10-01 00:00:00           Chelan   3590.00
13    789:OR:SNTL  19E07S  1979-10-01 00:00:00            Grant   5250.00
14    332:UT:SNTL  11H08S  1978-10-01 00:00:00            Weber   7689.00
15    449:WY:SNTL  07H05S  1979-10-01 00:00:00           Carbon   8730.00
16    325:WY:SNTL  07F01S  1979-10-01 00:00:00          Johnson   8200.00
17    771:CA:SNTL  19L07S  1978-10-01 00:00:00             Mono   8770.00
18    804:WA:SNTL  21C13S  1978-10-01 00:00:00         Skamania   4290.00
21    671:OR:SNTL  20E02S  1979-10-01 00:00:00            Crook   5430.00
22    358:WY:SNTL  07E18S  1978-10-01 00:00:00         Sheridan   9350.00
23    610:ID:SNTL  14G02S  1979-10-01 00:00:00       Twin Falls   6880.00
24    865:UT:SNTL  11M03S  1978-10-01 00:00:00         Garfield   9640.00
27    448:MT:SNTL  12E07S  1971-01-01 00:00:00          Madison   7800.00
31    620:ID:SNTL  13E18S  1979-10-01 00:00:00            Lemhi   9150.00
33    673:WY:SNTL  06H10S  1962-09-01 00:00:00           Carbon   9860.00
34    629:CO:SNTL  07M14S  1978-10-01 00:00:00         San Juan  10046.00
35    315:MT:SNTL  12D09S  1976-10-01 00:00:00       Silver Bow   7180.00
36    688:CO:SNTL  05J04S  1979-10-01 00:00:00            Grand   9045.00
38    876:MT:SNTL  12B17S  1978-10-01 00:00:00  Lewis and Clark   5960.00
42    821:OR:SNTL  18E09S  1978-10-01 00:00:00            Baker   5150.00
44    517:UT:SNTL  10J44S  1978-10-01 00:00:00           Summit   9130.00
45    523:OR:SNTL  18D19S  1978-10-01 00:00:00         Umatilla   4920.00
47    714:UT:SNTL  11K28S  1978-10-01 00:00:00            Emery   8988.00
48    471:ID:SNTL  11G06S  1979-10-01 00:00:00        Bear Lake   7390.00
49    605:OR:SNTL  18D06S  1978-10-01 00:00:00         Umatilla   4970.00
50    357:OR:SNTL  18E16S  1978-10-01 00:00:00            Grant   5870.00

                endDate fipsCountryCd fipsCountyCd fipsStateNumber  \
1   2100-01-01 00:00:00            US          015              16
2   2100-01-01 00:00:00            US          001              30
7   2100-01-01 00:00:00            US          031              30
9   2100-01-01 00:00:00            US          111              08
10  2100-01-01 00:00:00            US          043              41
11  2100-01-01 00:00:00            US          031              30
12  2100-01-01 00:00:00            US          007              53
13  2100-01-01 00:00:00            US          023              41
14  2100-01-01 00:00:00            US          057              49
15  2100-01-01 00:00:00            US          007              56
16  2100-01-01 00:00:00            US          019              56
17  2100-01-01 00:00:00            US          051              06
18  2100-01-01 00:00:00            US          059              53
21  2100-01-01 00:00:00            US          013              41
22  2100-01-01 00:00:00            US          033              56
23  2100-01-01 00:00:00            US          083              16
24  2100-01-01 00:00:00            US          017              49
27  2100-01-01 00:00:00            US          057              30
31  2100-01-01 00:00:00            US          059              16
33  2100-01-17 00:00:00            US          007              56
34  2100-01-01 00:00:00            US          111              08
35  2100-01-01 00:00:00            US          093              30
36  2100-01-01 00:00:00            US          049              08
38  2100-01-01 00:00:00            US          049              30
42  2100-01-01 00:00:00            US          001              41
44  2100-01-01 00:00:00            US          043              49
45  2100-01-01 00:00:00            US          059              41
47  2100-01-01 00:00:00            US          015              49
48  2100-01-01 00:00:00            US          007              16
49  2100-01-01 00:00:00            US          059              41
50  2100-01-01 00:00:00            US          023              41

             huc       hud  latitude   longitude                  name shefId  \
1   170501200304  17050111  44.05092  -115.44322          Jackson Peak  JKPI1
2   100200011002  10020001  45.16507  -113.50099           Bloody Dick  BLOM8
7   100200070402  10020007  44.94966  -111.35852          Beaver Creek  BEVM8
9   130100010104  13010001  37.71433  -107.51240              Beartown  BRTC2
10  170900060101  17090006  44.52147  -122.08718             Daly Lake  DALO3
11  100200070202  10020007  44.50832  -111.12803            Black Bear  BLBM8
12  170200100204  17020010  47.99090  -120.56622            Pope Ridge  PPRW1
13  171200020102  17120002  44.26423  -119.02162           Starr Ridge  STRO3
14  160201020302  16020102  41.37603  -111.94405       Ben Lomond Peak  BLPU1
15  140500030203  10180002  41.30399  -107.15255           Divide Peak  DVDW4
16  100902010205  10090201  43.88743  -107.06135      Bear Trap Meadow  BTNW4
17  160503020104  16050302  38.31021  -119.60030           Sonora Pass  SRAC1
18  170800020107  17080002  46.09497  -121.76345        Surprise Lakes  SPLW1
21  170703050201  17070305  44.42917  -120.33110        Ochoco Meadows  OCMO3
22  100800100102  10080010  44.67888  -107.58110      Bone Springs Div  BSDW4
23  170402120601  17040213  42.18072  -114.28662        Magic Mountain  MGMI1
24  160300020403  16030002  37.83633  -111.88163            Widtsoe #3  WSTU1
27  100200030102  10020002  44.79317  -112.05645                Divide  DIVM8
31  170602040101  17060204  44.43655  -113.31815           Meadow Lake  MDLI1
33  101800020901  10180002  41.15426  -106.96926            Old Battle  OLDW4
34  140801040103  14080104  37.84737  -107.72657         Mineral Creek  MINC2
35  170102010201  10020005  45.79737  -112.52047           Basin Creek  BSCM8
36  140100010302  14010001  40.39803  -105.84606        Phantom Valley  PHTC2
38  100301040202  10030104  47.44847  -112.81428            Wood Creek  WODM8
42  170502020101  17070203  44.65567  -118.42617                Tipton  TIPO3
44  160101010101  16010101  40.79669  -110.88472           Hayden Fork  HFKU1
45  170701030103  17070103  45.69682  -118.10657            High Ridge  HIRO3
47  140600090202  14060009  39.45197  -111.27221        Red Pine Ridge  RPRU1
48  160102020206  16010201  42.36055  -111.56085       Emigrant Summit  EMSI1
49  170701030606  17070103  45.27478  -118.84790          Lucky Strike  LUKO3
50  170501160104  17050116  44.24767  -118.51722  Blue Mountain Spring  BLPO3

   stationDataTimeZone stationTimeZone  \
1                 -8.0            None
2                 -8.0            None
7                 -8.0            None
9                 -8.0            None
10                -8.0            None
11                -8.0            None
12                -8.0            None
13                -8.0            None
14                -8.0            None
15                -8.0            None
16                -8.0            None
17                -8.0            None
18                -8.0            None
21                -8.0            None
22                -8.0            None
23                -8.0            None
24                -8.0            None
27                -8.0            None
31                -8.0            None
33                -8.0            None
34                -8.0            None
35                -8.0            None
36                -8.0            None
38                -8.0            None
42                -8.0            None
44                -8.0            None
45                -8.0            None
47                -8.0            None
48                -8.0            None
49                -8.0            None
50                -8.0            None

                                     geometry
1    POINT Z (-115.44322 44.05092 7070.00000)
2    POINT Z (-113.50099 45.16507 7600.00000)
7    POINT Z (-111.35852 44.94966 7850.00000)
9   POINT Z (-107.51240 37.71433 11600.00000)
10   POINT Z (-122.08718 44.52147 3690.00000)
11   POINT Z (-111.12803 44.50832 8170.00000)
12   POINT Z (-120.56622 47.99090 3590.00000)
13   POINT Z (-119.02162 44.26423 5250.00000)
14   POINT Z (-111.94405 41.37603 7689.00000)
15   POINT Z (-107.15255 41.30399 8730.00000)
16   POINT Z (-107.06135 43.88743 8200.00000)
17   POINT Z (-119.60030 38.31021 8770.00000)
18   POINT Z (-121.76345 46.09497 4290.00000)
21   POINT Z (-120.33110 44.42917 5430.00000)
22   POINT Z (-107.58110 44.67888 9350.00000)
23   POINT Z (-114.28662 42.18072 6880.00000)
24   POINT Z (-111.88163 37.83633 9640.00000)
27   POINT Z (-112.05645 44.79317 7800.00000)
31   POINT Z (-113.31815 44.43655 9150.00000)
33   POINT Z (-106.96926 41.15426 9860.00000)
34  POINT Z (-107.72657 37.84737 10046.00000)
35   POINT Z (-112.52047 45.79737 7180.00000)
36   POINT Z (-105.84606 40.39803 9045.00000)
38   POINT Z (-112.81428 47.44847 5960.00000)
42   POINT Z (-118.42617 44.65567 5150.00000)
44   POINT Z (-110.88472 40.79669 9130.00000)
45   POINT Z (-118.10657 45.69682 4920.00000)
47   POINT Z (-111.27221 39.45197 8988.00000)
48   POINT Z (-111.56085 42.36055 7390.00000)
49   POINT Z (-118.84790 45.27478 4970.00000)
50   POINT Z (-118.51722 44.24767 5870.00000)

In [16]:
data.to_dataframe()

,name,id,datasource,geometry
0,Jackson Peak,550:ID:SNTL,NRCS,POINT Z (-115.44322 44.05092 7070.00000)
1,Bloody Dick,355:MT:SNTL,NRCS,POINT Z (-113.50099 45.16507 7600.00000)
2,Beaver Creek,328:MT:SNTL,NRCS,POINT Z (-111.35852 44.94966 7850.00000)
3,Beartown,327:CO:SNTL,NRCS,POINT Z (-107.51240 37.71433 11600.00000)
4,Daly Lake,434:OR:SNTL,NRCS,POINT Z (-122.08718 44.52147 3690.00000)
5,Black Bear,347:MT:SNTL,NRCS,POINT Z (-111.12803 44.50832 8170.00000)
6,Pope Ridge,699:WA:SNTL,NRCS,POINT Z (-120.56622 47.99090 3590.00000)
7,Starr Ridge,789:OR:SNTL,NRCS,POINT Z (-119.02162 44.26423 5250.00000)
8,Ben Lomond Peak,332:UT:SNTL,NRCS,POINT Z (-111.94405 41.37603 7689.00000)
9,Divide Peak,449:WY:SNTL,NRCS,POINT Z (-107.15255 41.30399 8730.00000)
10,Bear Trap Meadow,325:WY:SNTL,NRCS,POINT Z (-107.06135 43.88743 8200.00000)
11,Sonora Pass,771:CA:SNTL,NRCS,POINT Z (-119.60030 38.31021 8770.00000)
12,Surprise Lakes,804:WA:SNTL,NRCS,POINT Z (-121.76345 46.09497 4290.00000)
13,Ochoco Meadows,671:OR:SNTL,NRCS,POINT Z (-120.33110 44.42917 5430.00000)
14,Bone Springs Div,358:WY:SNTL,NRCS,POINT Z (-107.58110 44.67888 9350.00000)
15,Magic Mountain,610:ID:SNTL,NRCS,POINT Z (-114.28662 42.18072 6880.00000)
16,Widtsoe #3,865:UT:SNTL,NRCS,POINT Z (-111.88163 37.83633 9640.00000)
17,Divide,448:MT:SNTL,NRCS,POINT Z (-112.05645 44.79317 7800.00000)
18,Meadow Lake,620:ID:SNTL,NRCS,POINT Z (-113.31815 44.43655 9150.00000)
19,Old Battle,673:WY:SNTL,NRCS,POINT Z (-106.96926 41.15426 9860.00000)
20,Mineral Creek,629:CO:SNTL,NRCS,POINT Z (-107.72657 37.84737 10046.00000)
21,Basin Creek,315:MT:SNTL,NRCS,POINT Z (-112.52047 45.79737 7180.00000)
22,Phantom Valley,688:CO:SNTL,NRCS,POINT Z (-105.84606 40.39803 9045.00000)
23,Wood Creek,876:MT:SNTL,NRCS,POINT Z (-112.81428 47.44847 5960.00000)
24,Tipton,821:OR:SNTL,NRCS,POINT Z (-118.42617 44.65567 5150.00000)
25,Hayden Fork,517:UT:SNTL,NRCS,POINT Z (-110.88472 40.79669 9130.00000)
26,High Ridge,523:OR:SNTL,NRCS,POINT Z (-118.10657 45.69682 4920.00000)
27,Red Pine Ridge,714:UT:SNTL,NRCS,POINT Z (-111.27221 39.45197 8988.00000)
28,Emigrant Summit,471:ID:SNTL,NRCS,POINT Z (-111.56085 42.36055 7390.00000)
29,Lucky Strike,605:OR:SNTL,NRCS,POINT Z (-118.84790 45.27478 4970.00000)
30,Blue Mountain Spring,357:OR:SNTL,NRCS,POINT Z (-118.51722 44.24767 5870.00000)